<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dodaj sprzęt</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="#" method="post" th:action="@{/equipment}" th:object="${typeofequipment}">
					<span class="login100-form-title p-b-26">
						Dodaj sprzęt
					</span>						
					<div class="wrap-input100 validate-input" data-validate = "">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="text" th:field="*{name}" placeholder="Nazwa"required>										
					</div>

					

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Dodaj
							</button>
						</div>
					</div>
					
					
					<div class="text-center p-t-10">
					<a class="txt2" href="#" th:href="@{/manage}">
							Powrót
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>